
h1 {
    color: red;
    text-align: center;
    font-size: 60px;
    
}

h3{
    color: blue;

}

article{
    background-color: rgb(186, 186, 186);
    
}

strong{
    color: rgb(108, 139, 14);


}

em{
    color: orange;
    font-size: 20px;
    text-decoration: underline;

}

#deuxieme{
    color: green;
    text-align: right;
    text-decoration: underline;


}

#troisieme{
    background-color: pink;


}