/* .visible{
    font-size: 300px;
}

body{
    height: 5000px;
}

.bar{
    position: fixed;
    width: 800px;
    height: 50px;
    border : 5px solid blue;
}

#file{
    position: fixed;
    
    height: 50px;
    background-color: black;
} */

.box{
    position: relative;
    border: 5px solid paleturquoise;
    width: 1500px;
    height: 400px;
}

.cheveux{
    margin-left: 0px;
}


img{
    max-width: 100%;
}
.veuch,.face{
    position: absolute;
    margin-top: 50px;
    margin-left: 350px;
}
#imageButtonGauche{    
    width: 50px;
    height: 90px;
    margin-top: 150px;
    margin-left: 150px;
    background-image: url(/Cours_Asynchrone/JS/Exo_JS/Image/asset/img/arrow_left.png);
    border-color: white;
}
#imageButtonDroit{
    width: 50px;
    height: 90px;
    margin-left: 500px;
    background-image: url(/Cours_Asynchrone/JS/Exo_JS/Image/asset/img/arrow_right.png);
    border-color: white;
}

#boxcouleur{
    position: absolute;
    top: 100px;
    right: 200px;
}

.couleurs {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .couleur-noir,
  .couleur-orange,
  .couleur-bleu {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 20px;
  }
  
  .couleur-noir {
    background-color: black;
  }
  
  .couleur-orange {
    background-color: orange;
  }
  
  .couleur-bleu {
    background-color: cyan;
  }
