



table {
    border: 5px solid red;

}

caption {
    border: 3px solid green
}

.colonne1 {
    border: 3px solid purple;


}

td, .colonne1 {
    border: 3px solid black;

} 

th {
    border: 3px solid blue;


}

