table{
    border-collapse: collapse;
    border: double 5px blueviolet;
}

td,
th{
    border: 2px black solid;
    text-align: center;
}

table, caption {
    font-weight: bold;
    color: blueviolet;

}

th {
    background-color: lightskyblue;
}

